/* Layout dạng lưới (biến media query)
* $xs <768px  lưới responsive
* $sm ≥768px  lưới responsive
* $md ≥992px  lưới responsive
* $lg ≥1200px lưới responsive
* $xl ≥1920px lưới responsive
------------------------------- */
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1920px;

/* Chiều rộng trang nhỏ hơn 576px
------------------------------- */
@media screen and (max-width: $xs) {
}

/* Chiều rộng trang nhỏ hơn 768px
------------------------------- */
@media screen and (max-width: $sm) {
}

/* Chiều rộng trang lớn hơn 768px nhỏ hơn 992px
------------------------------- */
@media screen and (min-width: $sm) and (max-width: $md) {
}

/* Chiều rộng trang lớn hơn 992px nhỏ hơn 1200px
------------------------------- */
@media screen and (min-width: $md) and (max-width: $lg) {
}

/* Chiều rộng trang lớn hơn 1920px
------------------------------- */
@media screen and (min-width: $xl) {
}
